// -------
// General
// -------
$dellViolet:   #6e2585;
$dellRed: 	   #ce1126; // Tooltip
$dellOrange:   #ee6411;
$dellYellow:   #f2af00; // Alert
$dellGreen:    #6ea204; // Tab, wizard
$darkBlue:     #00447c; // Modals
$medBlue:      #16609e; // Checkbox and radio, modal
$dellBlue:     #007db8; // Most commonly used
$brightBlue:   #1f9dfa;
$blueTileBG:   #6bacde;
$blueRollover: #cce5f1; // Splitter, table

$highlightedTextBg: #feffde; // UI Select
$dellAlmostWhiteGray: #f2f2ff; // Master-Detail detail-view backgroundborder

$dellLightGray:     #eeeeee; // Button, Drop-Down List, Progress Indicator, Textbox
$buttonBGGray:      #e4e4e4; // Button, Alert, Calendar, Log In screen, Process Bar
$tooltipBorderGray: #dbdbdb;
$inactiveStateGray: #cccccc; // About Box, Accordion, Checkbox and Radio, Process Bar, Tabs
$dellGray:          #aaaaaa; // Accordion, Button, Process Bar, Combo Box, Date Picker, Process Bar, text box, Toolbar, Wizard
$medGray:           #848484; // Content Area, Master Detail, Accordion, Date Picker, Process Bar, Toolbar
$darkAlertingGray:  #6b6b6b; // Accordion, Button, Calendar, Master Detail, Table, Tab
$darkGrayPanel:     #5c5c5c; // Combo Box, Menu, Scrollbar, Textbox
$darkGray:          #444444; // About Box, Calendar
$frameworkGray:     #262626; // Masthead
$darkestGray:       #282828; // Master Detail, Calendar, Checkbox and Radio, Date Picker
$white:             #ffffff;
$black:             #000000;

//  keyword    value          textover-val
//  --------------------------------------

$color-keywords:
//  'default'    $buttonBGGray $darkestGray,
	'gray'       $buttonBGGray $darkestGray,

	'primary'    $dellBlue      $white,
	'blue'       $dellBlue      $white,

	'warning'    $dellYellow    $darkestGray,
	'yellow'     $dellYellow    $darkestGray,

	'danger'     $dellRed       $white,
	'red'        $dellRed       $white,

	'success'    $dellGreen     $white,
	'green'      $dellGreen     $white,

	'black'      $darkestGray   $white,
	'orange'     $dellOrange    $white,
	'violet'     $dellViolet    $white,
	'white'      $white         $darkestGray;

// Form Factors

// TODO: Depreciate these:
$mediaMobile: 'only screen and (min-width:0px) and (max-width:768px)';
$mediaTablet: 'only screen and (min-width:768px) and (max-width:1024px)';
$mediaDesktop: 'min-width:1024px';

// TODO: Use these (/expand)
// $mobile: new-breakpoint(min-width 0px 4);
// $tablet: new-breakpoint(min-width 760px 8);
$desktop: 'only screen and (min-width: 769px)';
$mobile: 'only screen and (max-width: 768px)';

// ------------------------
// Transitions & Animations
// ------------------------
$fade-time: 90ms;
$fade-type: linear;

// -----------------
// Application frame
// -----------------
$applicationFrameNavigationWidth: 220px;
$applicationFrameMastheadHeight: 50px;
$mastheadDesktopHeight: 50px;
$mastheadMobileHeight: 48px;

// Menu item
// ---------
$menuItemSelectedTextColor: $white;

// --------------
// Navigation bar
// --------------
$navigationHeaderHeight: 30px;
$navigationIndentSize: 15px;
$navigationHoverGray: #4e4e4e;
$navigationHoverDarkGray: #252525;
$navigationGraySecondary: #3b3b3b;

// --------------
// Navigation bar
// --------------
$tableCellPadding: 8px 12px;
